rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /phishing_events/{document=**} {
      // Allow read, create, and update for authenticated users with a verified email address
      allow read, create, update: if request.auth != null && request.auth.token.email_verified == true;

      // Deny delete for all users
      allow delete: if false;
    }
  }
}
